@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Project Web MVC - Asp.Net.Core V2.1</p>
<p>Using Entity FrameWork and Razor Page</p>
<p>Page about List Films and Series</p>

