@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>

    <p>Name Author: Luis Rachope</p>

    <andress>
        <strong>Contact information: </strong><a href="https://www.linkedin.com/in/luisrachope/">https://www.linkedin.com/in/luisrachope/</a>
    </andress>

</address>
