@model ListFilmsMvc.Models.ViewModels.MovieFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>


<h4>Create Movie or Serie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Movie.Title" class="control-label"></label>
                <input asp-for="Movie.Title" class="form-control" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Director" class="control-label"></label>
                <input asp-for="Movie.Director" class="form-control" />
                <span asp-validation-for="Movie.Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.RealeseYear" class="control-label"></label>
                <input asp-for="Movie.RealeseYear" class="form-control" />
                <span asp-validation-for="Movie.RealeseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Genre" class="control-label"></label>
                <input asp-for="Movie.Genre" class="form-control" />
                <span asp-validation-for="Movie.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Category" class="control-label"></label>
                <input asp-for="Movie.Category" class="form-control" />
                <span asp-validation-for="Movie.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Rating" class="control-label"></label>
                <input asp-for="Movie.Rating" class="form-control" />
                <span asp-validation-for="Movie.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-warning">Back to list</a>
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}